<div  class="page-content grid-x grid-padding-x" ng-init="init()">
  <!-- Carousel Section-->
  <div class="small-12 medium-6 cell">
    <h5>{{item.title}}</h5>
    <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit data-use-m-u-i="false" data-auto-play="false">
      <div class="orbit-wrapper">
        <div class="orbit-controls">
          <button class="orbit-previous" style="color:black;"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
          <button class="orbit-next"  style="color:black;"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
        </div>
        <ul class="orbit-container">
          <li class="orbit-slide" ng-repeat="slide in slides">
            <figure class="orbit-figure">
              <img class="orbit-image" ng-src="{{slide}}"/>
            </figure>
          </li>
        </ul>
      </div>
      <nav class="orbit-bullets image">
        <button ng-repeat="slide in slides" ng-class="{'is-active':$index==0}" data-slide="{{$index}}" redraw-orbit><img ng-src="{{slide}}"/></button>
      </nav>

    </div>
  </div>
  <!-- Price/Promo/Description -->
  <div class="small-12 medium-6 cell">
    <div>{{item.Offers[0].OfferPrice[0].formattedPriceValue}} <sub>{{item.Offers[0].OfferPrice[0].priceQualifier}}</sub></div>
    <hr/>
    <div class="promotions" ng-repeat="promo in item.Promotions">
      {{promo.Description[0].shortDescription}}
    </div>
    <hr/>
    <div class="grid-x">
      <div class="small-6 cell input-group">
        <span class="input-group-label">Quantity</span>
        <input class="input-group-field text-right" type="number">
      </div>
      <div class="small-6 cell">&nbsp;</div>
      <div class="small-6 cell"><a ng-if="pickUpInStore()" class="expanded secondary button">PICK UP IN STORE</a><div ng-if="pickUpInStore()" class="text-center">find in a store</div></div>
      <div class="small-6 cell"><a ng-if="addToCart()" class="expanded alert button">ADD TO CART</a></div>
      <div id="return" class="small-3 cell">Returns</div>
      <div class="small-9 cell">
        <small>The item must be return within 30 days of purchase. See return policy for details. Price, promotions, stles and availability may vary by store and online.</small>
      </div>
      <div class="cell expanded button-group">
        <a class="button secondary">ADD TO REGISTRY</a>
        <a class="button secondary">ADD TO LIST</a>
        <a class="button secondary">SHARE</a>
      </div>
      <div class="cell">
        <h4>Product Highlights</h4>
        <ul>
          <li ng-repeat="feature in item.ItemDescription[0].features">
            <span ng-bind-html="feature | trustAsHtml"></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Rating/Review -->
  <div class="small-12 medium-6 cell">
    <div class="grid-x grid-padding-x small-up-2">

      <div class="cell"><span style="font-size:1.5rem;"><rating value="{{item.CustomerReview[0].consolidatedOverallRating}}"></rating></span> overall</div>
      <div class="cell text-right">view all {{item.CustomerReview[0].totalReviews}} reviews</div>
      <div class="cell">
        <div>PRO</div>
        <sub>most helpful 4-5 star review</sub>
        <div><rating value="{{item.CustomerReview[0].Pro[0].overallRating}}"></rating></div>
        <b>{{item.CustomerReview[0].Pro[0].title}}</b>
        <p><small>{{item.CustomerReview[0].Pro[0].review}}</small></p>
       <small><a>{{item.CustomerReview[0].Pro[0].screenName}}</a> {{item.CustomerReview[0].Pro[0].datePosted | toDate | date:'mediumDate'}}</small>
      </div>
      <div class="cell">
        <div>CON</div>
        <sub>most helpful 1-2 star review</sub>
        <div><rating value="{{item.CustomerReview[0].Con[0].overallRating}}"></rating></div>
        <b>{{item.CustomerReview[0].Con[0].title}}</b>
        <p><small>{{item.CustomerReview[0].Con[0].review}}</small></p>
        <small><a>{{item.CustomerReview[0].Con[0].screenName}}</a> {{item.CustomerReview[0].Con[0].datePosted | toDate | date:'mediumDate'}}</small>
      </div>
    </div>
  </div>
</div>
