/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.page-content {
  margin:5%;
}

.promotions {
  color:red;
}

.promotions::before {
  content:"\2691";
}

#return {
  text-align: center;
  font-size: 1.8rem;
  border-right:solid grey 1px;
  margin: 0 0.5rem 2rem -0.5rem;
}

.rating {
  color:red;
}

.orbit-bullets.image button {
  width:5rem;
  height:5rem;
  display:none;
}
.orbit-bullets.image button.is-active img{
  border:solid 1px black;
}
.orbit-bullets.image button.is-active,
.orbit-bullets.image button.is-active + button,
.orbit-bullets.image button.is-active + button + button {
  display:inline-block;
}
